
//Colors Scheme

$Fuzzywuzzy: #E56353;
$Ruddypink: #D76c69;
$Spanishpink: #ECBCBA;

$White: #FFF;
$Platinium: #E6E7E7;
$LightGray: #D1D1D1;

$Eirieblack: #121519;
$Raisinblack: #222323;
$Nickel: #6C6E70;

// Typography 

$playfair: 'Playfair Display', serif;
$roboto:  'Roboto', sans-serif;

//Font Weight

$regular: 300;
$bold: 900;

//Font style

$italic: italic;