.article__container{
    background-color: white ;
}

.article__p{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.article__day{
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-weight: 400;
}