.article__container{
    background-color: white ;
}

.article__p{
    font-size: 20px;
    line-height: 4rem ;
    margin: auto;
}

.article__day{
    font-family: $playfair;
    font-size: 30px;
   
}

.article__p__a{
    color: $Fuzzywuzzy;
}