.nav_bg{
    background-color: $Eirieblack;
}

.__nav-text{
    font-family: 'Roboto', sans-serif;
    font-size: 16pt;
    font-weight: 300;
}

.navbar-nav{
    .nav-link{
        &:hover{
            color: $Ruddypink !important
        }
    }
}
.__nav-items{
    padding-right: 8em;
}

.__nav-logo{
    padding-left: 100px;
}


.nav-icon{
    color: white;
    font-size: 50px;
    border:none;
}
.navbar-toggler{
    border: $Eirieblack;
}